

.jetmenu{width:100%; position: relative;background: #aaa5d1;}
.jetmenu li{display: inline-block;float:left;}
.jetmenu a{-o-transition: all .3s linear;-webkit-transition: all .3s linear;-moz-transition: all .3s linear;transition: all .3s linear;outline: none;z-index: 10;}
.jetmenu > li > a{padding: 10px 21px; font-size: 16px;color: #7E7E7E;text-decoration: none;display: inline-block; border-right:1px solid #E1E1E1;}
.jetmenu > li > a.last{border-right:none;}
/*.jetmenu > li:hover > a,.jetmenu > li.active > a{background: #990000;color: #fff;}*/
.jetmenu > li:hover > a,.jetmenu > li.active > a{background: #ff5722;color: #fff;}

/*.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown{display: none;position: absolute;z-index: 99;width: 196px;background: #F4858A;}*/
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown{display: none;position: absolute;z-index: 99;width: 196px;background: #2196f3;}

.jetmenu ul.dropdown{top: 39px;}
.jetmenu ul.dropdown li ul.dropdown{left: 196px;top: inherit;}
.jetmenu ul.dropdown li{clear:both;width:100%;font-size: 13px;}
.jetmenu ul.dropdown li a{width:100%;padding: 10px 20px 12px;display:inline-block;float:left;clear:both; text-decoration: none;color: #FFF;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
/*.jetmenu ul.dropdown li:hover > a{background: #990000;color: #fff;}*/
.jetmenu ul.dropdown li:hover > a{background:  #ff5722;color: #fff;}

.ct_ani{
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
  from { background-color: #FFCFD1; }
  to { background-color: #E8E5FF; }
}
@-moz-keyframes color_change {
  from { background-color: #FFCFD1; }
  to { background-color: #E8E5FF; }
}
@-ms-keyframes color_change {
  from { background-color: #FFCFD1; }
  to { background-color: #E8E5FF; }
}
@-o-keyframes color_change {
  from { background-color: #FFCFD1; }
  to { background-color: #E8E5FF; }
}
@keyframes color_change {
  from { background-color: #FFCFD1; }
  to { background-color: #E8E5FF; }
}



.jetmenu .indicator{position: relative;left: 5px;top: 0;font-size: 14px;float: right;}
.jetmenu .indicator::before{content: "\f107"; font-family:'FontAwesome';}
.jetmenu ul li .indicator{font-size: 12px;top: 1px;left: 10px;}
.jetmenu ul li .indicator::before{content: "\f107"; font-family:'FontAwesome';}

/*.jetmenu > li > .megamenu{position: absolute;display: none;background: #F4858A;min-width: 25%;top: 39px;font-family: Segoe UI;font-size: 13px;color: #FFF;z-index: 99;padding: 20px 30px 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}*/
.jetmenu > li > .megamenu{position: absolute;display: none;background: #ae275f;min-width: 25%;top: 39px;font-family: Segoe UI;font-size: 13px;color: #FFF;z-index: 99;padding: 20px 30px 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.jetmenu li > .megamenu ul{margin: 0 0 20px 0;float: left;padding: 0;display: block;position: relative;}
.jetmenu li > .megamenu ul li{width: 100%;padding: 4px 0;}.jetmenu li > .megamenu ul li.title{margin: 0 0 8px;padding: 0 0 5px;border-bottom: solid 1px #FFF;}
.jetmenu li > .megamenu h5{width: 100%; font-size:120%;}

/* megamenu links */

.jetmenu li > .megamenu a{color: #FFF;text-decoration: none;font-size: 13px;-webkit-transition: color 0.3s linear;-moz-transition: color 0.3s linear;-o-transition: color 0.3s linear;transition: color 0.3s linear;}
.jetmenu li > .megamenu a:hover{color: Blue;}
.jetmenu .megamenu img{width: 100%;-webkit-transition: border 0.3s linear;-moz-transition: border 0.3s linear;-o-transition: border 0.3s linear;transition: border 0.3s linear;}

.jetmenu li > .megamenu a::before{content: "\f105\00a0\00a0"; font-family:'FontAwesome';}
.jetmenu li > .megamenu .mega_sub{text-indent:10px;}
.jetmenu li > .megamenu .mega_sub a::before{content: ""; font-family:'FontAwesome';}

#portfolio-group{margin: 40px 0px;}

.jetmenu > li > .megamenu.half-width{width: 50%;}
.jetmenu > li > .megamenu.full-width{width: 100%;left: 0;}

.jetmenu li > .megamenu form{width: 100%;}
.jetmenu li > .megamenu form input[type="text"],.jetmenu li > .megamenu form textarea{padding: 5px;color: #999;background: #444; font-size: 14px;border: solid 1px transparent;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: border 0.3s linear;-moz-transition: border 0.3s linear;-o-transition: border 0.3s linear;transition: border 0.3s linear;}.jetmenu li > .megamenu form input[type="text"]:focus,.jetmenu li > .megamenu form textarea:focus{border-color: #e0e0e0;}
.jetmenu li > .megamenu form input[type="text"]{width: 100%;margin-top: 10px;}.jetmenu li > .megamenu form textarea{width: 100%;margin-top: 10px;}
.jetmenu li > .megamenu form input[type="submit"]{width: 25%;float: right;height: 30px;margin-top: 10px;border: none;cursor: pointer;background: #444;color: #777;-webkit-transition: background 0.3s linear;-moz-transition: background 0.3s linear;-o-transition: background 0.3s linear;transition: background 0.3s linear;}
.jetmenu li > .megamenu form input[type="submit"]:hover{background: #e0e0e0;color: #fff;}

.megamenu .row{width: 100%;margin-top: 15px;}
.megamenu .row:first-child{margin-top: 0;}
.megamenu .row:before,.megamenu .row:after{display: table;content: "";line-height: 0;}
.megamenu .row:after{clear: both;}
.megamenu .row .col1,.megamenu .row .col2,.megamenu .row .col3,.megamenu .row .col4,.megamenu .row .col5,.megamenu .row .col6{display: block;width: 100%;min-height: 20px;float: left;margin-left: 2.127659574468085%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.megamenu .row [class*="col"]:first-child{margin-left: 0;}.megamenu .row .col1{width: 48.5%;}
.megamenu .row .col2{width: 31.914893617021278%;}
.megamenu .row .col3{width: 48.93617021276595%;}
.megamenu .row .col4{width: 65.95744680851064%;}
.megamenu .row .col5{width: 82.97872340425532%;}
.megamenu .row .col6{width: 100%;}


.jetmenu > li.right{float: right;}.jetmenu > li.right > .megamenu{right: 0;}.bggjgjjgjywrturuwehegqeq410037{left: 0px}

.jetmenu > li.showhide{display: none;width: 100%;height: 50px;cursor: pointer;color: #FFF;background: #aaa5d1;}
.jetmenu > li.showhide span.title{margin: 15px 0 0 25px; float: left; font-size:120%;}
.jetmenu > li.showhide span.icon{margin: 17px 20px;float: right;}
.jetmenu > li.showhide .icon em{margin-bottom: 3px;display: block;width: 20px;height: 2px;background: #FFF;}

.blue > li:hover > a, .blue > li.active > a{background: #F68587;color: #fff;}
.blue ul.dropdown li:hover > a{background: #aaa5d1;color: #fff;}
.blue li > .megamenu form input[type="text"]:focus, .blue li > .megamenu form textarea:focus{border-color: #fff;}
.blue li > .megamenu form input[type="submit"]:hover{background: #fff;color: #fff;}.blue li > .megamenu a:hover{color: #851217;}

@media (max-width: 875px){
.jetmenu > li > a{padding: 8px 15px;}
}

@media (max-width: 800px){
.jetmenu > li{display: block;width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.jetmenu > li > a{padding: 8px 24px; border-right:none;}
.jetmenu a{width: 100%;background:;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown{width: 100% !important;left: 0;position: static !important;border: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.jetmenu ul.dropdown > li > a{padding-left: 40px !important; background:#ae275f;}
.jetmenu > li > .megamenu{width: 100% !important;position: static;border-top: none; background:#aaa5d1 !important;}
.megamenu .row [class*="col"]{float: none;display: block;width: 100% !important;margin-left: 0;margin-top: 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.megamenu .row:first-child [class*="col"]:first-child{margin-top: 0;}
.megamenu .row{margin-top: 0;}.jetmenu > li > ul.dropdown > li > a{padding-left: 40px !important;}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > a{padding-left: 60px !important;}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{padding-left: 80px !important;}
}

}