.rght{
    color: white;
    /* text-align: right; */
    float: right;
    width: 60%;
}
.rght h1{font-size:50px;}
.rght p{font-size:25px;text-align:center;}
/* .footabt li::before{
    content: "\f285";
} */
.footabt,.footcnct{color:rgb(102, 240, 10);}